body {
    background-color: #F2F2F2;
}

.navbar {
    background-color: #F2F2F2;
}

.navbar-expand-lg {
    background-color: #F2F2F2;
}

.nav-link {
    margin-left: 1vw;
    margin-right: 1vw;

    padding-bottom: 0px;

    transition: all ease-in-out 1s;
    border-bottom: 5px solid transparent;
}

.nav-link:hover {
    border-bottom-color: #FFC107;
}
